body {
    background-color: #FF6D1D ;
    text-align: center;
}

.rectangle {
    width: 400px;
    height: 200px;
    background-color: #FFA518;
    border: solid #E1DEDE;
    margin:0 auto;
    padding: 50px 10px 20px 20px;     
   
}

#validacao {
    font-size: 30px;
    color: #049c32;
}
