body {
    background-color: #FF6D1D ;
    text-align: center;
}
.rec-sq {
    display: flex;
    gap: 2em;
}

.rectangle {
    width: 24rem;
    height: 14rem;
    background-color: #FFA518;
    border: solid #E1DEDE;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
   
    
   
}
